
input {
    margin: auto;
}

input[type="button"] {
    width: 50px;
    margin: auto;
}

input[type="text"], label {
    display: block;
    width: 200px;
    margin: auto;
}

label {
    margin: auto;
}

textarea {
    display: block;
    width: 200px;
    height: 100px;
    margin: auto;
}

.card-form {
    text-align: center;
    display: inline-block;
    margin-top: 20px;
    margin-left: 100px;
}

#CardLayout {
    width: 300px;
    height: 200px;
    background-color: pink;
    margin: auto;
    display: inline-block;
    border-radius: 5px;
    word-wrap: break-word;
}

.container {
    text-align: center;
    margin: 10px;
}

